<ion-header>
  <ion-toolbar>
    <ion-title>Chat con imágenes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let msg of mensajes">
      <ion-label>
        <strong>{{ msg.email }}</strong>: {{ msg.contenido }}<br>
        <img *ngIf="msg.url" [src]="msg.url" style="max-width: 200px;"/>
      </ion-label>
    </ion-item>
  </ion-list>

  <form (ngSubmit)="enviarMensaje()">
    <ion-item>
      <ion-input [(ngModel)]="contenido" name="contenido" placeholder="Mensaje"></ion-input>
    </ion-item>
    <ion-item>
      <input type="file" (change)="onFileSelected($event)" />
    </ion-item>
    <ion-button expand="block" type="submit">Enviar</ion-button>
  </form>
</ion-content>